@use '../abstracts/variables' as *;
@each $color, $shades in $colors {
    @each $shade, $value in $shades {
        .text-color-#{$color}-#{$shade} {
            color: #{$value};
        }
    }
}
@each $color, $shades in $colors {
    @each $shade, $value in $shades {
        .background-color-#{$color}-#{$shade} {
            background-color: #{$value};
        }
    }
}
@each $weight, $value in $font-weights {
    .font-#{$weight} {
        font-weight: #{$value};
    }
}
