@use '../abstracts' as *;
#sign-in-title {
    font-size: 3.75rem;
    margin: 4.4375rem 0 4.875rem;
}
.sign-in-btn {
    margin: 0 1.75rem 1rem;
}
#divider {
    margin-top: 0.875rem;
    margin-bottom: 1.875rem;
}
hr {
    width: 6.25rem;
    border: 0.0625rem solid clr('black', middle);
    margin: 0 1.25rem;
}
a {
    font-size: 0.875rem;
    margin-bottom: 6.375rem;
}
p:last-of-type {
    @extend a;
    margin: 2.5rem 0 0.3125rem;
}